<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SimpleDataApp.Properties.Settings.connString" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=sales;Integrated Security=True;Pooling=False;Encrypt=True;Trust Server Certificate=False" />
    </connectionStrings>
</configuration>